# Python Fundamental Data Types

Author: Cleiber Garcia
Date: 17 of February, 2023

The content of this notebook was developed by me (Cleiber Garcia) as part of my participation in the course "Complete Python Developer in 2023: Zero to Mastery", offered through Udemy (https://www.udemy.com/course/complete-python-developer-zero-to-mastery/), by Andrei Neagoie of Zero to Mastery (https://zerotomastery.io/).

The content of this notebook is based on Andrei's online Course (Complete Python Developer in 2023: Zero to Mastery), therefore it has a high degree of similarity with Andrei's work, however I took the liberty to make some changes in the python code, in order to give my personal touch and to make the examples clearer.

My intension in developing this notebook is threefold: 1) to show that I have acquired proficiency in Python fundamental data types; 2) To show that I practicized the contents seen in the online class and 3) to help other students of the course Complete Python Developer in 2023: Zero to Mastery.

Feel free to contact-me at cleiber.garcia@gmail.com

## 1. Integer

In [8]:
print('*** integer ***')
A = 10
B = 3
print('A: ', A)
print('B: ', B)
print('A + B : ', A + B) # addition
print('A - B : ', A - B) # subtraction
print('A * B : ', A * B) # multiplication
print('A / B : ', A / B) # division with decimal expansion
print('A // B : ', A // B) # integer division
print('A ** B : ', A ** B) # exponentiation
print('A % B : ', A % B) # modulo (remainder of A divied by B)

*** integer ***
A:  10
B:  3
A + B :  13
A - B :  7
A * B :  30
A / B :  3.3333333333333335
A // B :  3
A ** B :  1000
A % B :  1

## 2. Float

In [9]:
A = 10.8
B = 3.5
print('A: ', A)
print('B: ', B)
print('A + B : ', A + B) # addition
print('A - B : ', A - B) # subtraction
print('A * B : ', A * B) # multiplication
print('A / B : ', A / B) # division with decimal expansion
print('A // B : ', A // B) # division without decimal expansion
print('A ** B : ', A ** B) # exponentiation
print('A % B : ', A % B) # modulo (remainder of A divided by B)

A:  10.8
B:  3.5
A + B :  14.3
A - B :  7.300000000000001
A * B :  37.800000000000004
A / B :  3.085714285714286
A // B :  3.0
A ** B :  4139.836070159688
A % B :  0.3000000000000007

## 3. Complex Numbers

In [56]:
# Complex Numbers
#import cmath 
x = 5
y = 3
z = complex(x,y);
print("z: ", z)
print ("The real part of complex number is : ",end="") 
print (z.real) 
  
print ("The imaginary part of complex number is : ",end="") 
print (z.imag)

z:  (5+3j)
The real part of complex number is : 5.0
The imaginary part of complex number is : 3.0

## 4. String

In [20]:
print('*** string ***')
valor = '012345678'
print(f'valor : {valor}')
print(f'valor[3:] : {valor[3:]}')
print(f'valor[0::2] : {valor[0::2]}')
print(f'valor[:4] : {valor[:4]}')
print(f'valor[-1] : {valor[-1]}')
print(f'valor[-2] : {valor[-2]}')
print(f'valor[-4:-2] : {valor[-4:-2]}')

*** string ***
valor : 012345678
valor[3:] : 345678
valor[0::2] : 02468
valor[:4] : 0123
valor[-1] : 8
valor[-2] : 7
valor[-4:-2] : 56

In [32]:
print('**** formatted strings ****')

name = 'Paul'
age = 55
print(f'Hi {name}. You are {age} years old.')

print('Hi {}. You are {} years old.'.format('Anne', 32))

**** formatted strings ****
Hi Paul. You are 55 years old.
Hi Anne. You are 32 years old.

In [37]:
# built-in methods
quote = 'to be or not TO BE'
print('quote: ', quote)
print('quote.upper(): ', quote.upper())
print('quote.lower(): ', quote.lower())
print('quote.title(): ', quote.title())

quote:  to be or not TO BE
quote.upper():  TO BE OR NOT TO BE
quote.lower():  to be or not to be
quote.title():  To Be Or Not To Be

## 5. List

### 5.1 List Methods

In [2]:
basket = ['a','Z', 'A', 'b', 'd', 'd']

# Count()
print(f"list qty d: {basket.count('d')}")

list qty d: 2

In [4]:
# Sort()
basket_2 = basket[:] # does not modify the content of basket
basket_2.sort()
print('basket: ', basket)
print('basket_2: ', basket_2)

basket:  ['a', 'Z', 'A', 'b', 'd', 'd']
basket_2:  ['A', 'Z', 'a', 'b', 'd', 'd']

In [6]:
basket_3 = basket # both point to the same address
basket_3.sort() # modify the content of basket
print('basket: ', basket)
print('basket_3: ', basket_3)

basket:  ['A', 'Z', 'a', 'b', 'd', 'd']
basket_3:  ['A', 'Z', 'a', 'b', 'd', 'd']

In [8]:
# Reverse()
basket.reverse()
print('basket reversed: ', basket)

basket reversed:  ['A', 'Z', 'a', 'b', 'd', 'd']

In [9]:
# Len()
print('Basket length: ',len(basket))

Basket length:  6

In [10]:
# Slicing
print('-- Slicing --')
print('basket: ', basket)
print('basket[::-1]: ', basket[::-1])

-- Slicing --
basket:  ['A', 'Z', 'a', 'b', 'd', 'd']
basket[::-1]:  ['d', 'd', 'b', 'a', 'Z', 'A']

In [19]:
ran50 = range(1,50)

In [21]:
print(list(ran50))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [38]:
# Range()

# Build a list with all numbers from 1 to 50
print(list(range(1,51)))
print('---')

# Build a list with all numbers from 1 to 50
print(list(range(51)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
---
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [63]:
# Join()
sentence = ' '.join(['Hi', 'my name is', 'Cleiber.'])
print(sentence)

Hi my name is Cleiber.

In [213]:
# List unpacking
a,b,c, *other, d = [1,2,3,4,5,6,7,8,9,0]
print('a,b,c, *other, d = [1,2,3,4,5,6,7,8,9,0]')
print('a: ', a)
print('b: ', b)
print('c: ', c)
print('other: ', other)
print('d: ', d)

a,b,c, *other, d = [1,2,3,4,5,6,7,8,9,0]
a:  1
b:  2
c:  3
other:  [4, 5, 6, 7, 8, 9]
d:  0

### 5.2 List Comprehension

In [23]:
# Build a list with all characters of the word 'hello'
my_list = [char for char in 'hello']
print('my_list: ', my_list)

my_list:  ['h', 'e', 'l', 'l', 'o']

In [26]:
# Build a list with all numbers between 0 and 100, inclusive
my_list2 = [num for num in range(0,101)]
print('my_list2: ', my_list2)

my_list2:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [29]:
# Square all numbers between 0 and 100, inclusive
my_list3 = [num**2 for num in range(0,101)]
print('my_list3: ', my_list3)

my_list3:  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [30]:
# Square all even numbers between 0 and 100
my_list4 = [num**2 for num in range(0,101) if num % 2 == 0]
print('my_list4: ', my_list4)

my_list4:  [0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

## 6. Tuple

In [40]:
my_tuple = (1,2,3,4,5)
print('my_tuple: ', my_tuple)
print('5 in my_tuple: ', 5 in my_tuple)

my_tuple:  (1, 2, 3, 4, 5)
5 in my_tuple:  True

In [41]:
new_tuple = my_tuple[:3]
print('new_tuple: ', new_tuple)

new_tuple:  (1, 2, 3)

In [42]:
x,y,z, *other = my_tuple # my_tuple = (1,2,3,4,5)
print('my_tuple: ', my_tuple)
print('x,y,z, *other = my_tuple')
print('x: ', x)
print('y: ', y)
print('z: ', z)
print('other: ', other)

my_tuple:  (1, 2, 3, 4, 5)
x,y,z, *other = my_tuple
x:  1
y:  2
z:  3
other:  [4, 5]

In [46]:
print('my_tuple: ', my_tuple)
print('lenght of my_tuple: ', len(my_tuple))
print('qty of 3 in my_tuple: ',my_tuple.count(3))
print('index of 3 in my_tuple: ',my_tuple.index(3))
print('my_tuple[4]: ', my_tuple[4])

my_tuple:  (1, 2, 3, 4, 5)
lenght of my_tuple:  5
qty of 3 in my_tuple:  1
index of 3 in my_tuple:  2
my_tuple[4]:  5

In [48]:
# A dictionary with tuples as keys and lists as values
user = {
    (1,2): [3, 5, 6],
    (3,4): [7, 8, 9],
        }

print('user: ', user)
print('user[(1,2)]: ', user[(1,2)])
print('user[(1,2)][0]: ', user[(1,2)][0])
print('user[(3,4)]: ', user[(3,4)])
print('user[(3,4)][2]: ', user[(3,4)][2])

user:  {(1, 2): [3, 5, 6], (3, 4): [7, 8, 9]}
user[(1,2)]:  [3, 5, 6]
user[(1,2)][0]:  3
user[(3,4)]:  [7, 8, 9]
user[(3,4)][2]:  9

## 7. Dictionary

### 7.1 Definition and Example of a Dictionary

In [219]:
# Dictionary
# A dictionary is formed by pairs of key:value
xyz = {
    'a': 1,
    'b': 2
}

print('xyz: ', xyz)
print('b: ', xyz['b'])

xyz:  {'a': 1, 'b': 2}
b:  2

In [218]:
dictionary = {
    'a': [1,2,3],
    'b': 'hello',
    'c': True
}

print('dictionary: ', dictionary)
print("dictionary['a']: ", dictionary['a'])
print("dictionary['a'][0]: ", dictionary['a'][0])

dictionary:  {'a': [1, 2, 3], 'b': 'hello', 'c': True}
dictionary['a']:  [1, 2, 3]
dictionary['a'][0]:  1

### 7.2 Dictionary Comprehension

In [51]:
#dictionary comprehension

simple_dict = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
    'e': 5,
    'f': 6
}

print('simple_dict: ', simple_dict)

simple_dict:  {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [53]:
# Square the even values
my_dict = {key:value**2 for key,value in 
           simple_dict.items() if value % 2 == 0}
print(my_dict)

{'b': 4, 'd': 16, 'f': 36}

In [55]:
# Square all values
my_dict2 = {num:num**2 for num in [1,2,3,4,5,6]}
print(my_dict2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

### 7.3 A Dictionary with a tuple as key and a list as value

In [56]:
user = {
    (1,2): [1,2,3],
        }

print('user keys: ',user.keys())
print('user items: ', user.items())
print('user[(1,2)]: ', user[(1,2)])

user keys:  dict_keys([(1, 2)])
user items:  dict_items([((1, 2), [1, 2, 3])])
user[(1,2)]:  [1, 2, 3]

### 7.4 A List with dictionary as element

In [61]:
# my_list = [{'a': [1,2,3], 'b': 'hello', 'c': True}, {'x': [5,6,7], 'y': 'bye', 'z': False }]
my_list = [
    {
     'a': [1,2,3],
     'b': 'hello',
     'c': True
    },
    {
     'x': [5,6,7],
     'y': 'bye',
     'z': False
    }    
]

#my_list = [{'a': [1,2,3], 'b': 'hello', 'c': True}, {'x': [5,6,7], 'y': 'bye', 'z': False }]

print('my_list: ', my_list)
print('')
print('my_list[0]: ', my_list[0])
print("my_list[0]['a']: ", my_list[0]['a'])
print("my_list[0]['a'][2]: ", my_list[0]['a'][2])
print("my_list[0]['b']: ", my_list[0]['b'])
print("my_list[0]['c']: ", my_list[0]['c'])

my_list:  [{'a': [1, 2, 3], 'b': 'hello', 'c': True}, {'x': [5, 6, 7], 'y': 'bye', 'z': False}]

my_list[0]:  {'a': [1, 2, 3], 'b': 'hello', 'c': True}
my_list[0]['a']:  [1, 2, 3]
my_list[0]['a'][2]:  3
my_list[0]['b']:  hello
my_list[0]['c']:  True

In [62]:
print('')
print('my_list: ', my_list)
print('')
print('my_list[1]: ', my_list[1])
print("my_list[1]['x']: ", my_list[1]['x'])
print("my_list[1]['x'][0]: ", my_list[1]['x'][0])
print("my_list[1]['y']: ", my_list[1]['y'])
print("my_list[1]['z']: ", my_list[1]['z'])

my_list:  [{'a': [1, 2, 3], 'b': 'hello', 'c': True}, {'x': [5, 6, 7], 'y': 'bye', 'z': False}]

my_list[1]:  {'x': [5, 6, 7], 'y': 'bye', 'z': False}
my_list[1]['x']:  [5, 6, 7]
my_list[1]['x'][0]:  5
my_list[1]['y']:  bye
my_list[1]['z']:  False

## 8. Set

### 8.1 Set Definition and examples

In [222]:
# A set is a collection of objects. It is a collection of concrete or abstract things
my_set = {5, 2, 1, 7, 3, 4, 5, 8}
print('my_set: ', my_set)

my_set:  {1, 2, 3, 4, 5, 7, 8}

In [90]:
# add 6 to the set my_set
my_set.add(6)
print('my_set: ', my_set)

my_set:  {1, 2, 3, 4, 5, 6, 7, 8}

In [95]:
my_list_with_duplicates = [1,2,3,4,5,5]
print('my_list_with_duplicates: ', my_list_with_duplicates)

# removing duplicate values
my_list_without_duplicates = set(my_list_with_duplicates)
print('my_list_without_duplicates: ', my_list_without_duplicates)

my_list_with_duplicates:  [1, 2, 3, 4, 5, 5]
my_list_without_duplicates:  {1, 2, 3, 4, 5}

In [97]:
# converting set into list
my_set = {10,20,30,40,50}
my_list = list(my_set)
print('my_set: ', my_set)
print('my_list: ', my_list)

my_set:  {50, 20, 40, 10, 30}
my_list:  [50, 20, 40, 10, 30]

In [64]:
# Even if we make set_B = set_A, both set_A and set_B
# have different memory address
set_A = {1,2,3}
print('set_A: ', set_A)

set_A:  {1, 2, 3}

In [66]:
set_B = set_A
print('set_B = set_A')
print('set_B: ', set_B)

set_B = set_A
set_B:  {1, 2, 3}

In [67]:
set_B = {6,7,8}
print('set_B = {6,7,8}')
print('set_B: ', set_B)
print('set_A after changing set_B: ', set_A)

set_B = {6,7,8}
set_B:  {8, 6, 7}
set_A after changing set_B:  {1, 2, 3}

### 8.2 Set Comprehension

In [224]:
# set comprehension

my_set1 = {char for char in 'hello'}
print('my_set1: ', my_set1)

my_set2 = {num for num in range(0,10)}
print('my_set2: ', my_set2)

my_set3 = {num**2 for num in range(0,10)}
print('my_set3: ', my_set3)

my_set4 = {num**2 for num in range(0,10) if num % 2 == 0}
print('my_set4: ', my_set4)

my_set1:  {'l', 'e', 'h', 'o'}
my_set2:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
my_set3:  {0, 1, 64, 4, 36, 9, 16, 49, 81, 25}
my_set4:  {0, 64, 4, 36, 16}

### 8.3 Operations on Sets

In [71]:
set_B = {3,4,5,6,7,8,9,10}
set_A = {1,2,3,4,5}
print('set_A: ', set_A)
print('set_B: ', set_B)

set_A:  {1, 2, 3, 4, 5}
set_B:  {3, 4, 5, 6, 7, 8, 9, 10}

#### 8.3.1 Difference

In [73]:
print('before set_A difference set_B: ')
print('* set_A: ', set_A)
print('* set_B: ', set_B)
print('')

before set_A difference set_B:
* set_A:  {1, 2, 3, 4, 5}
* set_B:  {3, 4, 5, 6, 7, 8, 9, 10}

In [82]:
# difference: setX - setY, remove from setX all elements that are in setY, but does not update setX
setX = {1,2,3,4}
setY = {3,4,5,6}
print('setX: ', setX)
print('setY: ', setY)
print('setX - setY: ', setX - setY)
print('setX: ', setX)
print('setY: ', setY)

setX:  {1, 2, 3, 4}
setY:  {3, 4, 5, 6}
setX - setY:  {1, 2}
setX:  {1, 2, 3, 4}
setY:  {3, 4, 5, 6}

In [83]:
# difference: setY - setX, remove from setY all elements that are in setX, but does not update setY
setX = {1,2,3,4}
setY = {3,4,5,6}
print('setX: ', setX)
print('setY: ', setY)
print('setY - setX: ', setY - setX)
print('setX: ', setX)
print('setY: ', setY)

setX:  {1, 2, 3, 4}
setY:  {3, 4, 5, 6}
setY - setX:  {5, 6}
setX:  {1, 2, 3, 4}
setY:  {3, 4, 5, 6}

In [86]:
# difference: setX.difference(setY), remove from setX all elements that are in setY, but does not update setX
setX = {1,2,3,4} 
setY = {3,4,5,6}
print('setX: ', setX)
print('setY: ', setY)
print('setX.difference(setY): ', setX.difference(setY))
print('setX: ', setX)
print('setY: ', setY)

setX:  {1, 2, 3, 4}
setY:  {3, 4, 5, 6}
setX.difference(setY):  {1, 2}
setX:  {1, 2, 3, 4}
setY:  {3, 4, 5, 6}

In [ ]:
# difference: setY.difference(setX), remove from setY all elements that are in setX, but does not update setY
setX = {1,2,3,4} 
setY = {3,4,5,6}
print('setX: ', setX)
print('setY: ', setY)
print('setX.difference(setY): ', setX.difference(setY))
print('setY.difference(setX): ', setY.difference(setX))
print('setX: ', setX)
print('setY: ', setY)

In [94]:
# difference: A - B, remove from set_A all elements that are in set_B, but does not update set_A
print('** Before difference operation:')
print('set_A: ', set_A)
print('set_B: ', set_B)
print('set_A.difference(set_B)): ', set_A.difference(set_B))
print('set_A - set_B: ', set_A - set_B)
print('')
print('after difference operation: ')
print('set_A ', set_A)
print('set_B ', set_B)

** Before difference operation:
set_A:  {1, 2, 3, 4, 5}
set_B:  {3, 4, 5, 6, 7, 8, 9, 10}
set_A.difference(set_B)):  {1, 2}
set_A - set_B:  {1, 2}

after difference operation:
set_A  {1, 2, 3, 4, 5}
set_B  {3, 4, 5, 6, 7, 8, 9, 10}

In [95]:
# difference: B - A, remove from set_B all elements that are in set_A, but does not update set_B
print('** Before difference operation:')
print('set_A: ', set_A)
print('set_B: ', set_B)
print('set_B.difference(set_A)): ', set_B.difference(set_A))
print('set_B - set_A: ', set_B - set_A)
print('')
print('after difference operation: ')
print('set_A ', set_A)
print('set_B ', set_B)

** Before difference operation:
set_A:  {1, 2, 3, 4, 5}
set_B:  {3, 4, 5, 6, 7, 8, 9, 10}
set_B.difference(set_A)):  {6, 7, 8, 9, 10}
set_B - set_A:  {6, 7, 8, 9, 10}

after difference operation:
set_A  {1, 2, 3, 4, 5}
set_B  {3, 4, 5, 6, 7, 8, 9, 10}

#### 8.3.2 Difference_update

In [96]:
# set_A.difference_update(set_B): remove from A all elements that are in B, and update set_A

set_A = {1,2,3,4,5}
set_B = {3,4,5,6,7,8,9,10}
print('before difference operation:')
print('* set_A: ', set_A)
print('* set_B: ', set_B)

set_A.difference_update(set_B)

print('after difference operation:')
print('* set_A: ', set_A)
print('* set_B: ', set_B)

before difference operation:
* set_A:  {1, 2, 3, 4, 5}
* set_B:  {3, 4, 5, 6, 7, 8, 9, 10}
after difference operation:
* set_A:  {1, 2}
* set_B:  {3, 4, 5, 6, 7, 8, 9, 10}

In [97]:
# set_B.difference_update(set_A): remove from B all elements that are in A, and update set_B

set_A = {1,2,3,4,5}
set_B = {3,4,5,6,7,8,9,10}
print('before difference operation:')
print('* set_A: ', set_A)
print('* set_B: ', set_B)

set_B.difference_update(set_A) 

print('after difference operation:')
print('* set_A: ', set_A)
print('* set_B: ', set_B)

before difference operation:
* set_A:  {1, 2, 3, 4, 5}
* set_B:  {3, 4, 5, 6, 7, 8, 9, 10}
after difference operation:
* set_A:  {1, 2, 3, 4, 5}
* set_B:  {6, 7, 8, 9, 10}

#### 8.3.3 Intersection

In [145]:
# intersection: new set with common elements between A and B
set_A = {1,2,3,4,5}
set_B = {3,4,5,6,7,8,9,10}

print('set_A intersection set_B: ', set_A.intersection(set_B))
print('set_A & set_B: ', set_A & set_B)

set_A intersection set_B:  {3, 4, 5}
set_A & set_B:  {3, 4, 5}

#### 8.3.4 Remove

In [147]:
# remove: remove an element from a set
set_M = {7,8,9}
set_M.remove(7)
print('set_M: ',set_M)

set_M:  {8, 9}

#### 8.3.5 Isdisjoint

In [186]:
# isdisjoint() function check whether the two sets are disjoint or not. 
# Two sets are said to be disjoint when they have no element in common

# set_C.isdisjoint(set_A)
# - True: set_C and set_A does not have elements in common
# - False set_C and set_A have elements in common
set_A = {1,2,3,4,5}
set_C = {1,2,3}
print('set_A: ', set_A)
print('set_C: ', set_C)
print('set_C isdisjoint set_A: ', set_C.isdisjoint(set_A))

print('')
set_A = {1,2,3,4,5}
set_C = {21, 22, 23, 24, 25}
print('set_A: ', set_A)
print('set_C: ', set_C)
print('set_C isdisjoint set_A: ', set_C.isdisjoint(set_A))

set_A:  {1, 2, 3, 4, 5}
set_C:  {1, 2, 3}
set_C isdisjoint set_A:  False

set_A:  {1, 2, 3, 4, 5}
set_C:  {21, 22, 23, 24, 25}
set_C isdisjoint set_A:  True

#### 8.3.6 Union

In [188]:
# union
# new set with all elements that are in A and/or are in B
print('set_A: ', set_A)
print('set_B: ', set_B)
print('set_A union set_B: ', set_A.union(set_B))
print('set_A | set_B: ', set_A | set_B)

set_A:  {1, 2, 3, 4, 5}
set_B:  {1, 2, 3, 4, 5}
set_A union set_B:  {1, 2, 3, 4, 5}
set_A | set_B:  {1, 2, 3, 4, 5}

#### 8.3.7 Issubset

In [189]:
# set_C.issubset(set_A):
# - True: all elements of set_C belongs to set_A
# - False: at least one element of set_C does not belong to set_A
set_A = {1,2,3,4,5}
set_C = {1,2,3,4,5,9}
print('set_C: ', set_C)
print('set_A: ', set_A)
print('set_C.issubset(set_A): ', set_C.issubset(set_A))
print('')
set_A = {1,2,3,4,5}
set_C = {4,5}
print('set_C: ', set_C)
print('set_A: ', set_A)
print('set_C.issubset(set_A): ', set_C.issubset(set_A))

set_C:  {1, 2, 3, 4, 5, 9}
set_A:  {1, 2, 3, 4, 5}
set_C.issubset(set_A):  False

set_C:  {4, 5}
set_A:  {1, 2, 3, 4, 5}
set_C.issubset(set_A):  True

#### 8.3.8 Issuperset

In [190]:
# set_A.issuperset(set_C)):
# - True: set_A contains all elements of set_C
# - False: there is at least one element of set_C that there is not in set_A
set_A = {1,2,3,4,5}
set_C = {1, 3, 8}
print('set_A: ', set_A)
print('set_C: ', set_C)
print('set_A.issuperset(set_C): ', set_A.issuperset(set_C))
print('')
set_A = {1,2,3,4,5}
set_C = {5, 2, 3}
print('set_A: ', set_A)
print('set_C: ', set_C)
print('set_A.issuperset(set_C): ', set_A.issuperset(set_C))

set_A:  {1, 2, 3, 4, 5}
set_C:  {8, 1, 3}
set_A.issuperset(set_C):  False

set_A:  {1, 2, 3, 4, 5}
set_C:  {2, 3, 5}
set_A.issuperset(set_C):  True

#### 8.3.9 Clear

In [191]:
# clear
# remove all elements from a set
set_A = {1,2,3,4,5}
print('set_A: ', set_A)
print('set_A after set_A.clear(): ', set_A.clear())

set_A:  {1, 2, 3, 4, 5}
set_A after set_A.clear():  None

#### 8.3.10 Copy

In [183]:
# set_A = set_B.copy(): set_A becomes a copy of set_B
set_A = {1, 2, 3, 4, 5}
set_B = {3,4,5,6,7,8,9,10}
print('set_A: ', set_A)
print('set_B: ', set_B)
set_A = set_B.copy()
print('set_A after set_A = set_B.copy(): ', set_A)

set_A:  {1, 2, 3, 4, 5}
set_B:  {3, 4, 5, 6, 7, 8, 9, 10}
set_A after set_A = set_B.copy():  {3, 4, 5, 6, 7, 8, 9, 10}

In [184]:
# set_B = set_A.copy(): set_B becomes a copy of set_A
set_A = {1, 2, 3, 4, 5}
set_B = {3,4,5,6,7,8,9,10}
print('set_A: ', set_A)
print('set_B: ', set_B)
set_B = set_A.copy()
print('set_B after set_B = set_A.copy(): ', set_B)

set_A:  {1, 2, 3, 4, 5}
set_B:  {3, 4, 5, 6, 7, 8, 9, 10}
set_B after set_B = set_A.copy():  {1, 2, 3, 4, 5}