# 7. Python Comprehension

Author: Cleiber Garcia
Date: 17 of February, 2023

The content of this notebook was developed by me (Cleiber Garcia) as part of my participation in the course "Complete Python Developer in 2023: Zero to Mastery", offered through Udemy (https://www.udemy.com/course/complete-python-developer-zero-to-mastery/), by Andrei Neagoie of Zero to Mastery (https://zerotomastery.io/).

The content of this notebook is based on Andrei's online Course (Complete Python Developer in 2023: Zero to Mastery), therefore it has a high degree of similarity with Andrei's work, however I took the liberty to make some changes in the python code, in order to give my personal touch and to make the examples clearer.

My intension in developing this notebook is threefold: 1) to show that I have acquired proficiency in Python comprehension technique; 2) To show that I practicized the contents seen in the online class and 3) to help other students of the course Complete Python Developer in 2023: Zero to Mastery.

Feel free to contact-me at cleiber.garcia@gmail.com

## 7.1 Dictionary Comprehension

In [5]:
### Disctionary comprehension

dict1 = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
    'e': 5,
    'f': 6
    }

print('dict1: ', dict1)

dict1:  {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [8]:
# Create a new dictionary with squared even numbers from dict1
squared_even_dict1 = {key:value**2 for key,value in dict1.items() if value % 2 == 0}
print('squared_even_dict1: ', squared_even_dict1)

squared_even_dict1:  {'b': 4, 'd': 16, 'f': 36}

In [12]:
# Create a dictionary for the items in the list [1,2,3,4,5] that are odd
dict2 = {item:item for item in [1,2,3,4,5] if item % 2 != 0}
print('dict2: ', dict2)

dict2:  {1: 1, 3: 3, 5: 5}

## 7.2 List Comprehension

In [11]:
# Creates a list with the characters of the word 'hello'
# without list comprehension
my_list = []
for char in 'hello':
    my_list.append(char)
    
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [10]:
# Creates a list with the characters of the word 'hello'
# with list comprehension
my_list = [char for char in 'hello']
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [13]:
# Set a list with numbers in the range 0 to 100
list3 = [number for number in range(0,101)]
print(list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [14]:
# Create a list of doubled numbers in the range 0 to 100
list4 = [number * 2 for number in range(0,101)]
print(list4)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [15]:
# Create a list of squared even numbers in the range 0 to 100
list5 = [number**2 for number in range(0,101) if number % 2 == 0]
print(list5)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

## 7.3 Set Comprehension

In [20]:
# Create a set with squared even numbers in the range 0 to 10 with the set's elements in ascending order
set_even_0_to_10 = sorted({number**2 for number in range(0,11) if number % 2 == 0})
print('set_even_0_to_10: ', set_even_0_to_10)

set_even_0_to_10:  [0, 4, 16, 36, 64, 100]